@media (max-width: 1380px) {
    .icon-bars {
        display: none;
    }
    #list-general-btn {
        color: #34547A;
        padding-left: 0px;
    }
    .menu li+li {
        padding-left: 42px;
    }
    .menu {
        margin: 0 auto;
        width: 100%;
    }
    .header {
        height: 400px;
    }
    .header__content {
        display: flex;
        justify-content: center;
        padding: 0;
        margin: 0;
        margin-top: 70px;
        padding: 50px 20px;
    }
    .header_logo--img {
        display: none;
    }
    .header__content-imgPC {
        padding-top: 20px;
    }
    .header__content--title {
        font-weight: 600;
        font-size: 38px;
        padding-bottom: 60px;
    }
    .skils__inner {
        float: left;
    }
    .skils__description-container {
        max-width: 300px;
        max-height: 500px;
        margin: 0;
        border-bottom: 1px solid #777777;
    }
    .skils__description {
        padding-left: 10px;
        position: relative;
        display: block;
        margin-left: 200px;
    }
    .skils__icon-adaptiv {
        display: none;
    }
    .skils__description-title {
        margin-top: 50px;
        background-color: #BEBEBE;
        border: 1px solid #777777;
    }
    .clients__container {
        padding-right: 40px;
    }
    .how-i-work__title {
        padding: 50px 0 50px;
    }
    .how-i-work__text {
        margin-bottom: 10px;
    }
    .how-i-work__video {
        padding-bottom: 50px;
    }
    .footer__author {
        margin-left: 200px;
    }
}

@media (max-width: 968px) {
    .skils__description {
        margin-left: 0;
    }
    .footer__author {
        margin-left: 20px;
    }
    .clients__container {
        max-width: 1920px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

@media (max-width: 750px) {
    .header__btn {
        margin: 0 auto;
    }
    .header {
        min-height: 500px;
    }
    .header__content {
        margin-top: 30px;
    }
    .skils__container {
        background-image: none;
        display: flex;
        justify-content: center;
    }
    .header__content-imgPC {
        display: none;
    }
    .header__content--container {
        padding: 0;
        margin: 0;
        text-align: center;
    }
    .menu {
        padding-top: 40px;
    }
    .menu li+li {
        padding-left: 20px;
    }
    .slider__text {
        padding-bottom: 75px;
    }
    .how-i-work__text {
        margin: 0 20px 20px 20px;
    }
    .how-i-work__title {
        padding: 25px 0 25px;
    }
    .footer {
        background: #34547A;
        width: 100%;
        display: block;
    }
    .footer__author {
        display: inline-block align-items: center;
        margin: 20px 0;
    }
    .footer__conteiner_inner {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        margin: 0 auto;
    }
    .footer__author-rights {
        margin: 0 20px;
    }
    .social-icon__img {
        margin: 0 15px;
    }
    .footer__social {
        margin-top: 50px;
    }
    .want-site::after {
        display: block;
        height: 100px;
    }
    
}

@media (max-width: 540px) {
    .header {
        min-height: 430px;
    }
    .header__mobile {
        display: flex;
        margin-top: 50px;
    }
    .header_logo--img {
        display: inline-block;
        position: relative;
    }
    .header__btn_menu {
        display: block;
        font-family: 'icomoon' !important;
    }
    .icon-bars {
        display: block;
        position: absolute;
        right: 0;
        margin: 3px 20px;
        font-size: 38px;
    }
    .icon-bars:before {
        content: "\f0c9";
    }
    .menu ul {
        display: none;
    }
    .header__content {
        padding: 0;
        margin: 0;
    }
    .header__content--title {
        font-size: 30px;
        padding-bottom: 20px;
    }
    .header-content--text {
        padding: 0 10px 40px;
    }
    .mobile__btn {
        width: 80% !important;
        padding: 0 20px;
    }
    .how-i-work__video {
        display: none;
    }
    .slider__item-content {
        max-width: 100%;
    }
    .want-site {
        padding: 10px;
        margin: 0 auto;
    }
    .want-site__title {
        font-weight: 500;
        font-size: 32px;
        line-height: 37px;
        text-align: center;
        margin: 20px 0 20px 0;
    }
    .want-site__form-box {
        display: block;
    }
    .want-site__text {
        margin-bottom: 30px;
    }
    .want-site__form-name, .want-site__form-email {
        margin: 0 auto;
        width: 100% !important;
        margin-top: 10px;
        display: block;
    }
    .want-site__form textarea {
        width: 100%;
        margin-top: 10px;
    }
    .footer__conteiner_inner {
        display: block;
        text-align: center;
        padding: 30px 0;
    }
    .footer__author {
        margin: 0;
    }
    .want-site:after {
        content: none;
        min-height: 80px;
    }
    .footer__social {
        display: flex;
        justify-content: center;
        padding-bottom: 15px;
        margin-top: 0;
    }
    .social-icon__img {
        margin: 0 15px;
    }
}